/* basic resets and default stuff */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.6;
    color: #3B3B3B;
}

/* text stuff */
h1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
}

.meta {
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
}

.base-large {
    font-size: 19px;
}
