/* main stylesheet - imports everything else */
@import url('base.css');
@import url('layout.css');
@import url('header.css');
@import url('footer.css');
@import url('buttons.css');
@import url('slider.css');
@import url('people.css');
@import url('map.css');
@import url('audio.css');